<%- include('./partials/header.ejs') -%>

<h1>Home with node and express configuration</h1>

<p><%= homepage %></p>


 <% posts.map((item)=>{ %>
    <h1><%= item.title %></h1> 
    <p><%= item.desc.substring(0,100) + " ...." %>
      <a href="/posts/<%=item.title%>">Read more</a>
    </p>
 <% }) %>

<%- include('./partials/footer.ejs') -%>